
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Seçilen', 'Sayısı'],
          ['Öğretmen', @ViewBag.Ogretmen],
          ['Resim',    @ViewBag.Resimler],
          ['Sınıf',  @ViewBag.Siniflar],
          ['Veli', @ViewBag.Veliler],
          ['Öğrenci', @ViewBag.Ogrenciler]
        ]);

        var options = {
          title: 'Veri Sayıları',
          is3D: false,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</body>
</html>

